body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 800;
  color: #585858;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 130px;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 800;
  color: #fff;
  background-color: #330099;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.header {
  padding: 44px 130px 41px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 3px solid #330099;
  border-bottom: 3px solid #330099;
}

.header__nav {
  margin-right: 43px;
  display: flex;
  align-items: center;
}

.header__link {
  font-family: 'Gilroy', sans-serif;
  color: #585858;
}

.header__link:not(:last-child) {
  margin-right: 42px;
}

.header__btn {
  padding: 13px 30px;
}

.hero {
  padding: 150px 0;
  background-color: #FFDA45;
  background-image: url('/img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__title {
  align-self: flex-end;
  width: 45%;
  margin: 0 0 8px 0;
  font-weight: 900;
  line-height: 49px;
  text-align: right;
  color: #330099;
}

.hero__description {
  align-self: flex-end;
  width: 30%;
  margin: 0;
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 700;
  text-align: right;
  color: #fff; 
}

.features {
  padding: 90px 0;
  background-color: #F9F9F9;
}

.features__content {
  display: flex;
  flex-direction: column;
}

.features__title {
  margin: 0 0 50px 0;
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 900;
  text-align: center;
}

.features__list {
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}

.features__item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.features__item:not(:last-child) {
  margin-right: 90px;
}

.features__icon {
  display: block;
  margin: 0  auto 30px;
  width: 85px;
  height: 85px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features__item:nth-child(1) .features__icon {
  background-image: url('/img/f-1.svg');
}

.features__item:nth-child(2) .features__icon {
  background-image: url('/img/f-2.svg');
}

.features__item:nth-child(3) .features__icon {
  background-image: url('/img/f-3.svg');
}

.features__subtitle {
  margin: 0 0 10px 0;
  font-size: 1.9rem;
  line-height: 1.2em;
  font-weight: 900;
  text-align: center;
}

.features__description {
  margin: 0;
  text-align: center;
}

.features__btn {
  margin: 0 auto;
  padding: 21px 37px;
}

.skills {
  padding: 90px 0;
}

.skills__title {
  margin: 0 0 53px 0;
  text-align: center;
}

.skills__list {
  display: flex;
  flex-direction: column;
}

.skills__item {
  display: flex;
  align-items: center;
}

.skills__item:nth-child(2n) {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.skills__item:not(:last-child) {
  margin-bottom: 110px;
}

.skills__icon {
  display: block;
  width: 175px;
  height: 175px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.skills__item:nth-child(1) .skills__icon {
  background-image: url('/img/img\ 1.svg');
}

.skills__item:nth-child(2) .skills__icon {
  background-image: url('/img/img\ 2.svg');
}

.skills__item:nth-child(3) .skills__icon {
  background-image: url('/img/img\ 3.svg');
}

.skills__content {
  width: 50%;
}

.form {
  padding: 60px 0;
  background-color: rgba(51, 0, 153, 0.12);
}

.form__title {
  margin: 0 0 36px 0;
  text-align: center;
}

.form__icon {
  margin-bottom: 49px;
}

.form__description {
  width: 100%;
  max-width: 374px;
  margin: 0 auto 36px;
  text-align: center;
}

.form__content {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.form__input {
  padding: 26px 0 26px 40px;
  border: none;
  border-radius: 50px;
}

.form__input:not(:last-child) {
  margin-bottom: 20px;
}

.form__input:last-child {
  margin-bottom: 36px;
}

.form__btn {
  padding: 23px 90px;
  color: #fff;
  background-color: #4AB272;
}

.footer {
  padding: 90px 0;
  background-color: #330099;
}

.footer__text {
  margin: 0 0 20px 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.footer__list {
  margin-bottom: 76px;
  display: flex;
  justify-content: center;
}

.footer__item:not(:last-child) {
  margin-right: 100px;
}

.footer__link {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.linkedin {
  background-image: url('/img/linkedin.svg');
}

.instagram {
  background-image: url('/img/instagram.svg');
}

.facebook {
  background-image: url('/img/facebook.svg');
}

.footer__copyrights {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
}